<!--CHILD TEMPLATE-->
{% extends "base.html"%}

{% block content %}
    <h1>Welcome to Routine Fitness</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p> 
            {{ form.username.label }}<br>
            {{ form.username(size = 32) }}
        </p>
        <p> 
            {{ form.email.label }}<br>
            {{ form.email(size = 32) }}
        </p>
        <p> 
            {{ form.password.label }}<br>
            {{ form.password(size = 32) }}
        </p>
        <p> 
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size = 32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    
{% endblock content %}